In [11]:
salaries=['20k','40k','50k','60k','35k','89k','40k']

1Make is the length of the salaries list.

In [12]:
print(len(salaries))

7

2 Retrieve the third salary in the list by using index

In [13]:
print(salaries[2])

50k

3 extract the last salary from the list by using a negative

In [14]:
print(salaries[-1])

40k

4 slice the salaries list to get only the middle three salaries

In [15]:
print(salaries[2:5])

['50k', '60k', '35k']

5 Add a new salary to the list '100k' by using append ()method

In [16]:
salaries.append('100k')
print (salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

6 Add a new salary to the list 120k without method

In [17]:
salaries +=['120k']

7 Replace the third salary in the list with 55k and print the update list

In [18]:
salaries[2] = '55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

Count how many times 40k appears in the list

In [19]:
count_40k = salaries.count('40k')
print(count_40k)

2

9 insert a new salary at the second position

In [20]:
salaries.insert(1, '70k')

10 reverse the order of the salaries list with method

In [21]:
salaries.reverse()

11 revers the order of the of the salaries list with out method

In [22]:
reversed_salaries = 
salaries[::-1]

SyntaxError: invalid syntax (1835411515.py, line 1)